{% extends 'common/base.html' %}
{% load pagination_tags %}
{% block main_body %}
    <style>
        .up {
            color: #00a65a;
        }
        .down {
            color: #dc4735;
        }
        .warning {
            color: #d58512;
        }
    </style>
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="col-xs-1" style="padding-left: 0px;">
                {% if perms.application.add_service %}
                <a type="button" class="btn btn-primary btn-sm" href="{% url 'service_add' %}">添加服务</a>
                {% endif %}
            </div>
            <div class="col-xs-8"></div>
            <div class="col-xs-3" style="padding-right: 0px;">
                <div class="input-group inline-group">
                    <input type="text" class="form-control input-sm" name="search" placeholder="请输入服务名称"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" id="search">- 搜索 -</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body with-border">
            <table class="table table-striped table-bordered text-center table-hover">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="selectAll"/>
                        </th>
                        <th>服务名称</th>
                        <th>服务描述</th>
                        <th>服务端口</th>
                        <th>所属产品</th>
<!--                        <th>状态</th>-->
<!--                        <th>UP数量</th>-->
<!--                        <th>DOWN数量</th>-->
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% autopaginate service_list 10 %}
                    {% for service in service_list %}
                        <tr id="{{ service.id }}">
                            <td>
                                <input type="checkbox" name="{{ service.id }}"/>
                            </td>
                            <td>{{ service.name }}</td>
                            <td>{{ service.desc }}</td>
                            <td>{{ service.port }}</td>
                            <td>{{ service.product }}</td>
<!--                            <td>-->
<!--                                <i class="fa fa-circle up" id="{{ service.name }}"></i>-->
<!--                            </td>-->
<!--                            <td id="{{ service.name }}_up">2</td>-->
<!--                            <td id="{{ service.name }}_down">0</td>-->
                            <td>
                                {% if perms.application.change_service %}
                                <a href="{% url 'service_update' service.id %}">
                                    <button type="button" class="btn btn-success btn-sm">更新</button>
                                </a>
                                {% endif %}
                                {% if perms.application.delete_service %}
                                <a href="">
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#checkModal" onclick="modify_button({{ service.id }})">删除</button>
                                </a>
                                {% endif %}
                                <a>
                                    <button type="button" class="btn btn-info btn-sm" onclick="display_log({{ service.id }})">日志</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#deleteSelectedModal" onclick="modify_delete_button()">删除</button>
                </div>
                <div class="col-xs-6">
                    {% paginate %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="checkModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        删除服务
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">请确认是否删除该服务</h4>
			    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" onclick="">
                        确认删除
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteSelectedModal" role="dialog" aria-labelledby="deleteSelectedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="deleteSelectedModalLabel">
                        删除选中服务
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">请确认是否删除选中服务</h4>
			    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" onclick="">
                        确认删除
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        function modify_button(id){
            $('#checkModal .btn-primary').attr('onclick','delete_group(' + id + ')');
        }
        function delete_group(id){
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/application/service/delete/',
                type: 'post',
                data: {
                    'id': id
                },
                success: function (res) {
                    console.log(res);
                    $('#checkModal').modal('hide');
                    $('#' + id).remove();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        $(function () {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $("input[name='selectAll']").change(function () {
                var checkboxes = $('#tbody').find("input[type='checkbox']");
                var isChecked = $(this).is(':checked');
                $(this).attr('checked',$(this).is(':checked'));
                for(var i=0;i<checkboxes.length;i++){
                    if(checkboxes[i].disabled){
                        continue;
                    }
                    $(checkboxes[i]).prop('checked',isChecked);
                }
            });
            var service_dict = {{ service_dict|safe }};
            for(var i=0;i<service_dict.length;i++){
                $.ajax({
                    url: '/application/service/state/',
                    type: 'post',
                    data: {
                        'name': service_dict[i].name
                    },
                    success: function (res) {
                        var up_arr = new Array();
                        var down_arr = new Array();
                        for(var i=0;i<res.length;i++){
                            if(res[i].state == 'UP'){
                                up_arr.push(res[i].host);
                            }else{
                                down_arr.push(res[i].host);
                            }
                        }
                        $('#' + res[0].name + '_up').text(up_arr.length);
                        $('#' + res[0].name + '_down').text(down_arr.length);
                        if(down_arr.length > 0 && down_arr.length < res.length){
                            $('#' + res[0].name).attr('class','fa fa-circle warning');
                        }else if(down_arr.length == res.length){
                            $('#' + res[0].name).attr('class','fa fa-circle down');
                        }else{
                            $('#' + res[0].name).attr('class','fa fa-circle up');
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            // function check_service(service_list){
            //     for(var i=0;i<service_list.length;i++){
            //         $.ajax({
            //             url: '/application/service/state/',
            //             type: 'post',
            //             data: {
            //                 name: service_list[i].name
            //             },
            //             success: function (res) {
            //                 var up_arr = new Array();
            //                 var down_arr = new Array();
            //                 for(var i=0;i<res.length;i++){
            //                     if(res[i].state == 'UP'){
            //                         up_arr.push(res[i].host);
            //                     }else if(res[i].state == 'DOWN'){
            //                         down_arr.push(res[i].host);
            //                     }
            //                 }
            //                 $('#' + res[0].name + '_up').text(up_arr.length);
            //                 $('#' + res[0].name + '_down').text(down_arr.length);
            //                 if(down_arr.length > 0 && down_arr.length < res.length){
            //                     $('#' + res[0].name).attr('class','fa fa-circle warning');
            //                 }else if(down_arr.length == res.length){
            //                     $('#' + res[0].name).attr('class','fa fa-circle down');
            //                 }else {
            //                     $('#' + res[0].name).attr('class','fa fa-circle up');
            //                 }
            //             },
            //             error: function (err) {
            //                 console.log(err);
            //             }
            //         });
            //     }
            // }
            // setInterval(check_service,30000,service_dict);
            $('#search').on('click',function () {
                var searvice_name = $("input[name='search']").val();
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                });
                $.ajax({
                    url: '/application/service/search/',
                    type: 'post',
                    data: {
                        'name': searvice_name
                    },
                    success: function(res){
                        $('.table #tbody').find('tr').remove();
                        for(var i=0;i<res.service.length;i++){
                            var domli = $('<tr>' +
                                '<td>' +
                                '   <input type="checkbox" name="' + res.service[i].id + '"/>' +
                                '</td>' +
                                '<td>' + res.service[i].name + '</td>' +
                                '<td>' + res.service[i].desc + '</td>' +
                                '<td>' + res.service[i].port + '</td>' +
                                '<td>' + res.service[i].product + '</td>' +
                                '<td>' +
                                '   <i class="fa fa-circle up" id="' + res.service[i].name + '"></i>' +
                                '</td>' +
                                '<td id="' + res.service[i].name + '_up"></td>' +
                                '<td id="' + res.service[i].name + '_down"></td>' +
                                '<td>' +
                                '   {% if perms.application.change_service %}' +
                                '   <a href="/application/service/update/' + res.service[i].id + '">' +
                                '      <button type="button" class="btn btn-success btn-sm">更新</button>' +
                                '   </a>' +
                                '   {% endif %}' +
                                '   {% if perms.application.delete_service %}' +
                                '   <a>' +
                                '      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#checkModal" onclick="modify_button(' + res.service[i].id + ')">删除</button>' +
                                '   </a>' +
                                '   {% endif %}' +
                                '   <a>' +
                                '      <button type="button" class="btn btn-info btn-sm" onclick="display_log(' + res.service[i].id + ')">日志</button>' +
                                '   </a>' +
                                '</td>' +
                                '</tr>');
                            $('.table #tbody').append(domli);
                        }
                        check_service(res.service);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        });
        function modify_delete_button() {
            var checked = $('#tbody').find("input[type='checkbox']:checked");
            if(checked.length <= 0){
                $('#deleteSelectedModal .modal-body .text-center').text('请选择要删除的服务');
                $('#deleteSelectedModal .btn-primary').attr('onclick','hide_modal("deleteSelectedModal")');
                $('#deleteSelectedModal .btn-primary').text('确认');
            }else{
                var ids = new Array();
                checked.each(function () {
                   ids.push($(this).attr('name'));
                });
                $('#deleteSelectedModal .modal-body .text-center').text('请确认是否删除选中服务');
                $('#deleteSelectedModal .btn-primary').attr('onclick','delete_selected("' + ids.join(',') + '")');
                $('#deleteSelectedModal .btn-primary').text('确认删除');
            }
        }
        function delete_selected(ids) {
            var id_arr = ids.split(',');
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            for (var i = 0; i < id_arr.length; i++) {
                $.ajax({
                    url: '/application/service/delete/',
                    type: 'post',
                    data: {
                        'id': id_arr[i]
                    },
                    success: function (res) {
                        console.log(res);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            for (var i = 0; i < id_arr.length; i++) {
                $('#' + id_arr[i]).remove();
            }
            $('#deleteSelectedModal').modal('hide');
        }
        function hide_modal(id) {
            $('#' + id).modal('hide');
        }
        function display_log(id) {
            console.log(id);
            window.location.href="/application/service/log/" + id + "/";
        }

    </script>
{% endblock %}