{% extends 'common/base.html' %}
{% block main_body %}
    <style>
        .btn-default {
            background-color: #FFFFFF;
        }
        .btn-default:hover, .btn-default:focus {
            color: #FFFFFF;
            background-color: #00a7d0;
        }
        #job_edit_form label.error {
            color: Red;
            font-size: 10px;
            font-style: italic;
        }
    </style>
    <div class="box box-default">
        <div class="box-header with-border">
            <h4 class="box-title">编写脚本</h4>
        </div>
        <form class="form-horizontal" role="form" id="job_edit_form">
            <div class="box-body with-border">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="job_desc">脚本描述</label>
                    <div class="col-sm-6">
                        <input type="text" name="job_desc" id="job_desc" class="form-control" placeholder="请输入脚本描述"/>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="job_name">脚本名称</label>
                    <div class="col-sm-6">
                        <input type="text" name="job_name" id="job_name" class="form-control" placeholder="请输入脚本名称"/>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="job_type">脚本类型</label>
                    <div class="col-sm-6">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="python">python</button>
                            <button type="button" class="btn btn-default" id="shell">shell</button>
                            <button type="button" class="btn btn-default" id="playbook" autofocus="true">playbook</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="job_content">脚本内容</label>
                    <div class="col-sm-6">
                        <div id="code" style="min-height: 400px; overflow-y: auto;overflow-x: hidden">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary" id="job_submit">提交</button>
                        <a type="button" class="btn btn-default" href="{% url 'job_list' %}">取消</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="application/javascript">
        $(function () {
            var onclick = 'playbook';
            ace.require("ace/ext/language_tools");
            var editor = ace.edit('code');
            editor.setTheme("ace/theme/clouds");
            editor.setFontSize(14);
            editor.getSession().setTabSize(2);
            editor.setOption('wrap','free');
            editor.setValue("---\n  - hosts: all\n    gather_facts: False");
            editor.getSession().setMode("ace/mode/yaml");
            editor.moveCursorTo(0,0);
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });
            $("#playbook").css({
                "color": "#FFFFFF",
                "background-color": "#00a7d0"
            });
            $('#python').on('click',function () {
                var editor = ace.edit('code');
                editor.setTheme("ace/theme/clouds");
                editor.setFontSize(14);
                editor.getSession().setTabSize(4);
                editor.setOption('wrap','free');
                editor.setValue("#!/usr/bin/python");
                editor.moveCursorTo(0,0);
                editor.getSession().setMode("ace/mode/python");
                editor.setOptions({
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
                $("#python").css({
                    "color": "#FFFFFF",
                    "background-color": "#00a7d0"
                });
                $("#shell").css({
                    "color": "#000000",
                    "background-color": "#FFFFFF",
                });
                $("#playbook").css({
                    "color": "#000000",
                    "background-color": "#FFFFFF",
                });
                onclick = 'python';
            });
            $('#shell').on('click',function () {
                var editor = ace.edit('code');
                editor.setTheme("ace/theme/clouds");
                editor.setFontSize(14);
                editor.getSession().setTabSize(4);
                editor.setOption('wrap','free');
                editor.setValue("#!/bin/bash");
                editor.moveCursorTo(0,0);
                editor.getSession().setMode("ace/mode/sh");
                editor.setOptions({
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
                $("#shell").css({
                    "color": "#FFFFFF",
                    "background-color": "#00a7d0"
                });
                $("#python").css({
                    "color": "#000000",
                    "background-color": "#FFFFFF",
                });
                $("#playbook").css({
                    "color": "#000000",
                    "background-color": "#FFFFFF",
                });
                onclick = 'shell';
            });
            $('#playbook').on('click',function () {
                var editor = ace.edit('code');
                editor.setTheme("ace/theme/clouds");
                editor.setFontSize(14);
                editor.getSession().setTabSize(2);
                editor.setOption('wrap','free');
                editor.setValue("---\n  - hosts: all\n    gather_facts: False");
                editor.moveCursorTo(0,0);
                editor.getSession().setMode("ace/mode/yaml");
                editor.setOptions({
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
                $("#playbook").css({
                    "color": "#FFFFFF",
                    "background-color": "#00a7d0"
                });
                $("#shell").css({
                    "color": "#000000",
                    "background-color": "#FFFFFF",
                });
                $("#python").css({
                    "color": "#000000",
                    "background-color": "#FFFFFF",
                });
                onclick = 'playbook';
            });
            function validJobSubmit(){
                return $('#job_edit_form').validate({
                    ignore: '',
                    rules: {
                        job_desc: {
                            required: true
                        },
                        job_name: {
                            required: true
                        }
                    },
                    messages: {
                        job_desc: {
                            required: '请输入脚本描述'
                        },
                        job_name: {
                            required: '请输入脚本名称'
                        }
                    },
                    errorPlacement: function (error,element) {
                        error.insertAfter(element);
                    },
                    success: function (element) {
                        $(element).remove();
                    }
                }).form();
            }
            $('#job_submit').on('click',function () {
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                });
                var job_desc = $('#job_desc').val();
                var job_name = $('#job_name').val();
                var job_type = onclick;
                var job_content = editor.getValue();
                if(validJobSubmit()){
                    $.ajax({
                        url: "{% url 'job_content' %}",
                        type: 'POST',
                        data: {
                            'job_name': job_name,
                            'job_desc': job_desc,
                            'job_type': job_type,
                            'job_content': job_content
                        },
                        success: function (res) {
                            console.log(res);
                            window.location.replace("{% url 'job_list' %}");
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}