{% extends 'common/base.html' %}
{% load pagination_tags %}
{% block main_body %}
    <div class="row">
        <div class="col-md-12" id="warning_message">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="ztree" id="treeDemo" style="height: 420px;overflow: auto"></div>
        </div>
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border" style="height: 50px">
                    <div class="box-title">主机列表</div>
                </div>
                <div class="box-body with-border" style="height: 370px;overflow: auto;" id="host_list">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $.ajaxSetup({
           data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        var setting = {
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                selectedMulti: false,
            },
            check: {
                enable: false
            },
            data: {
                simpleData: {
                    enable: true
                },
                key: {
                    url: 'xUrl'
                }
            },
            edit: {
                enable: true,
                showRenameBtn: {% if perms.cmdb.update_node %}true{% else %}false{% endif %},
                showRemoveBtn: {% if perms.cmdb.delete_node %}true{% else %}false{% endif %}
            },
            showLine: {
                enable: true
            },
            callback: {
                onClick: zTreeOnClick,
                onRename: zTreeOnRename,
                onRemove: zTreeOnRemove,
                beforeRemove: zTreeBeforeRemove,
                beforeRename: zTreeBeforeRename
            }
        };
        function zTreeOnClick(event,treeId,treeNode){
            var id = treeNode.id;
            if(treeNode.level == 3){
                $.ajax({
                    url: '/cmdb/host/node/list/',
                    type: 'POST',
                    data: {
                        'id': id
                    },
                    success: function (res) {
                        console.log(res);
                        if(res.host.length > 0) {
                            var dom = $('<table class="table text-center table-hover">' +
                                '<thead>' +
                                '<tr>' +
                                '<th>主机名</th>' +
                                '<th>IP地址</th>' +
                                '<th>服务器类型</th>' +
                                '<th>CPU核数</th>' +
                                '<th>内存(G)</th>' +
                                '<th>磁盘(G)</th>' +
                                '</tr>' +
                                '</thead>' +
                                '<tbody>');
                            for(var i=0;i<res.host.length;i++){
                                var domli = $('<tr>' +
                                    '<td>' + res.host[i].hostname + '</td>' +
                                    '<td>' + res.host[i].ipaddress + '</td>' +
                                    '<td>' + res.host[i].hosttype + '</td>' +
                                    '<td>' + res.host[i].cpu_nums + '</td>' +
                                    '<td>' + res.host[i].memory + '</td>' +
                                    '<td>' + res.host[i].disk + '</td>' +
                                    '</tr>');
                                dom.append(domli);
                            }
                            dom.append($('</tbody>' +
                                '</table>'));
                            $('#host_list').html(dom);
                        }else {
                            var dom = $('<h3 class="text-center"><strong>该节点没有主机</strong></h3>');
                            $('#host_list').html(dom);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }else{
                var dom = $('<h3 class="text-center"><strong>该节点没有主机</strong></h3>');
                $('#host_list').html(dom);
            }
        }
        function zTreeOnRename(event,treeId,treeNode) {
            var id = treeNode.id;
            var name = treeNode.name;
            $.ajax({
                url: '/cmdb/update/node/',
                type: 'post',
                data: {
                    'id': id,
                    'name': name
                },
                success: function (res) {
                    console.log(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        function zTreeOnRemove(event,treeId,treeNode) {
            var id = treeNode.id;
            removeNode(id);
        }
        function zTreeBeforeRemove(treeId,treeNode) {
            if(treeNode.id==1 && treeNode.level==0){
                var default_alert=$('<div class="alert alert-error">' +
                    '   <a href="" class="close" data-dismiss="alert">' +
                    '       &times;' +
                    '   </a>' +
                    '   <strong>警告！</strong>不能删除Default根节点' +
                    '</div>');
                $('#warning_message').html(default_alert);
                return false;
            }else if(treeNode.children && treeNode.children.length > 0){
                var parent_alert=$('<div class="alert alert-error">' +
                    '   <a href="" class="close" data-dismiss="alert">' +
                    '       &times;' +
                    '   </a>' +
                    '   <strong>警告！</strong>该节点下面有子节点' +
                    '</div>');
                $('#warning_message').html(parent_alert);
                return false;
            }
        }
        function zTreeBeforeRename(treeId,treeNode) {
            if(treeNode.id==1 && treeNode.level==0){
                return false;
            }else{
                return true;
            }
        }
        function removeNode(id){
            $.ajax({
                url: '/cmdb/delete/node/',
                type: 'post',
                data: {
                    'id': id
                },
                success: function (res) {
                    console.log(res);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        var zNodes = {{ node|safe }}

        $(document).ready(function(){
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
        function addHoverDom(treeId, treeNode) {
            {% if not perms.cmdb.add_node %}
                return false;
            {% endif %}
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                + "' title='add node' onfocus='this.blur();'></span>";
            if(treeNode.level <= 2){
                sObj.after(addStr);
            }
            var btn = $("#addBtn_"+treeNode.tId);
            console.log(treeNode.id);
            if (btn) btn.bind("click", function(){
                if(treeNode.children){
                    var newCount = treeNode.children.length + 1;
                }else{
                    var newCount = 1;
                }
                $.ajax({
                    url: '/cmdb/add/node/',
                    type: 'post',
                    data: {
                        'id': (treeNode.id*100 + newCount),
                        'pid': treeNode.id,
                        'name': 'new node '+newCount,
                        'level': treeNode.level + 1
                    },
                    success: function (res) {
                        var zTree = $.fn.zTree.getZTreeObj('treeDemo');
                        zTree.addNodes(treeNode,{id:(treeNode.id*100 + newCount),pId:treeNode.id,name:"new node " + (newCount)});
                        console.log(res);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        };
        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
        };
        $(function () {
            {% if not request.user.is_superuser %}
                $('.ztree li span.button.add').remove();
            {% endif %}
        });
    </script>
{% endblock %}