{% extends 'common/base.html' %}
{% block main_body %}
    <div class="row">
        <div class="col-md-4">
           <div class="ztree" id="treeDemo" style="height: 420px;overflow: auto"></div>
        </div>
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border" style="height: 50px">
                    <div class="box-title">主机列表</div>
                </div>
                <div class="box-body with-border" style="height: 370px;overflow: auto;" id="host_list">
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $.ajaxSetup({
           data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        var setting = {
            check: {
                enable: false
            },
            showLine: {
                enable: true
            },
            callback: {
                onClick: zTreeOnClick
            }
        };
        $.ajax({
            url: '{% url 'node_tree' %}',
            type: "GET",
            success: function(res){
                console.log(res);
                $(document).ready(function(){
                    $.fn.zTree.init($("#treeDemo"), setting, res.node);
                });
            },
            error: function(err){
                console.log(err);
            }
        });
        function zTreeOnClick(event,treeId,treeNode){
            var id = treeNode.id;
            if(treeNode.level == 3){
                $.ajax({
                    url: '/cmdb/host/node/list/',
                    type: 'POST',
                    data: {
                        'id': id
                    },
                    success: function (res) {
                        console.log(res);
                        if(res.host.length > 0) {
                            var dom = $('<table class="table text-center table-hover">' +
                                '<thead>' +
                                '<tr>' +
                                '<th>主机名</th>' +
                                '<th>IP地址</th>' +
                                '<th>服务器类型</th>' +
                                '<th>CPU核数</th>' +
                                '<th>内存(G)</th>' +
                                '<th>磁盘(G)</th>' +
                                '</tr>' +
                                '</thead>' +
                                '<tbody>');
                            for(var i=0;i<res.host.length;i++){
                                var domli = $('<tr>' +
                                    '<td>' + res.host[i].hostname + '</td>' +
                                    '<td>' + res.host[i].ipaddress + '</td>' +
                                    '<td>' + res.host[i].hosttype + '</td>' +
                                    '<td>' + res.host[i].cpu_nums + '</td>' +
                                    '<td>' + res.host[i].memory + '</td>' +
                                    '<td>' + res.host[i].disk + '</td>' +
                                    '</tr>');
                                dom.append(domli);
                            }
                            dom.append($('</tbody>' +
                                '</table>'));
                            $('#host_list').html(dom);
                        }else {
                            var dom = $('<h3 class="text-center"><strong>该节点没有主机</strong></h3>');
                            $('#host_list').html(dom);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }else{
                var dom = $('<h3 class="text-center"><strong>该节点没有主机</strong></h3>');
                $('#host_list').html(dom);
            }
        }
    </script>
{% endblock %}