{% extends 'common/base.html' %}
{% load pagination_tags %}
{% block main_body %}
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="col-xs-1" style="padding-left: 0;">
                {% if perms.database.add_sqlfile %}
                <a type="button" class="btn btn-primary btn-sm" href="{% url 'sql_add' database_id %}">添加SQL脚本</a>
                {% endif %}
            </div>

            <div class="col-xs-8" style="padding-left: 0;"></div>
{#            <div class="col-xs-3" style="padding-right: 0;">#}
{#                <div class="input-group inline-group">#}
{#                    <input type="text" class="form-control input-sm" name="search" placeholder="请输入数据库名称" id="search_database"/>#}
{#                    <div class="input-group-btn">#}
{#                        <button type="button" class="btn btn-sm btn-primary" id="search"> -搜索- </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="box-body">
            <table class="table table-striped table-bordered text-center table-hover">
                <thead>
                    <tr>
                        <th>
                            <input id="selectAll" type="checkbox"/>
                        </th>
                        <th>SQL脚本名称</th>
                        <th>SQL脚本版本</th>
                        <th>SQL脚本创建时间</th>
                        <th>SQL脚本更改时间</th>
                        <th>
                            <div>操作</div>
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% autopaginate  sql_file_list 10 %}
                    {% for sql_file in sql_file_list %}
                        <tr id="{{ sql_file.id }}">
                            <td>
                                <input type="checkbox" name="{{ sql_file.id }}"/>
                            </td>
                            <td>V{{ sql_file.sql_version }}__{{ sql_file.sql_name }}.sql</td>
                            <td>{{ sql_file.sql_version }}</td>
                            <td>{{ sql_file.create_time|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ sql_file.update_time|date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <a href="{% url 'sql_visit' sql_file.id %}">
                                    <button type="button" class="btn btn-link btn-sm">查看</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-xs-6" id="delete_all">
                </div>
                <div class="col-xs-6" id="paginate">
                    {% paginate %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}