{% extends 'common/base.html' %}
{% block main_body %}
    <style>
        .table>tbody>tr>td {
            border-top: 0px solid;
        }
        #group_update_form label.error {
            color: Red;
            font-size: 10px;
            font-style: italic;
        }
    </style>
    <div class="box box-default">
        <div class="box-header with-border">
            <h4 class="box-title">添加用户组</h4>
        </div>
        <form class="form-horizontal" role="form" action="" method="post" id="group_update_form">
            <div class="box-body with-border">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">用户组名</label>
                    <div class="col-sm-8">
                        {{ group_update_form.name }}
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="permission">权限</label>
                    <div class="col-sm-8">
                        <select name="permission" id="permission" class="form-control" multiple></select>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a type="button" class="btn btn-default" href="{% url 'group_list' %}">取消</a>
                        <button type="submit" class="btn btn-success">提交</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="application/javascript">
        $(function () {
            $('#permission').select2({
                placeholder: "请选择权限",
                allowClear: true,
                data: {{ permission|safe }}
            });
            $('#permission').val({{ permission_select|safe }}).trigger('change');
            $('#group_update_form').validate({
                ignore: '',
                rules: {
                   name: {
                       required: true
                   }
                },
                messages: {
                   name: {
                       required: '请输入用户组名'
                   }
                },
                errorPlacement: function (error,element) {
                   error.insertAfter(element);
                },
                success: function (element) {
                   element.remove();
                }
            });
        });
    </script>
{% endblock %}