{% load static %}
<script src="{% static 'plugin/js/jquery.min.js' %}"></script>
<script src="{% static 'plugin/js/jquery-ui.js' %}"></script>
<script src="{% static 'plugin/js/jsrender.min.js' %}"></script>
<script src="{% static 'plugin/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugin/js/bootstrap-button.js' %}"></script>
<script src="{% static 'plugin/js/moment-with-locales.js' %}"></script>
<script src="{% static 'plugin/js/adminlte.min.js' %}"></script>
<script src="{% static 'plugin/js/moment-2.21.0.min.js' %}"></script>
<script src="{% static 'plugin/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'plugin/js/select2.js' %}"></script>
<script src="{% static 'plugin/js/fileinput.js' %}"></script>
<script src="{% static 'plugin/js/fileinput.min.js' %}"></script>
<script src="{% static 'plugin/js/date.js' %}"></script>
<script src="{% static 'plugin/js/bootstrap-treeview.min.js' %}"></script>
<script src="{% static 'plugin/js/jstree.min.js' %}"></script>
<script src="{% static 'plugin/js/ace/build/src/ace.js' %}"></script>
<script src="{% static 'plugin/js/ace/build/src/ext-language_tools.js' %}"></script>
<script src="{% static 'plugin/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugin/js/messages_zh.min.js' %}"></script>
<script src="{% static 'plugin/js/jquery.ztree.core.js' %}"></script>
<script src="{% static 'plugin/js/jquery.ztree.excheck.js' %}"></script>
<script src="{% static 'plugin/js/jquery.ztree.exedit.js' %}"></script>
<script src="{% static 'plugin/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'plugin/js/icheck.min.js' %}"></script>
<script src="{% static 'plugin/js/loading.js' %}"></script>
<script src="{% static 'plugin/js/jquery.redirect.js' %}"></script>
<script src="{% static 'plugin/js/xterm.js' %}"></script>
<script src="{% static 'plugin/js/layui.js' %}"></script>