{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>运维平台</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="{% static 'plugin/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'plugin/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'plugin/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'plugin/css/AdminLTE.min.css' %}">
<link rel="stylesheet" href="{% static 'plugin/css/_all-skins.min.css' %}">
<link rel="stylesheet" href="{% static 'plugin/css/select2.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/fileinput.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/fileinput.min.css' %}">
<link type="text/css" ref="stylesheet" href="{% static 'plugin/css/fileinput-rtl.css' %}">
<link type="text/css" ref="stylesheet" href="{% static 'plugin/css/fileinput-rtl.min.css' %}">
<link type="text/css" ref="stylesheet" href="{% static 'plugin/css/jquery-ui.css' %}">
<link type="text/css" ref="stylesheet" href="{% static 'plugin/css/bootstrap-datetimepicker.min.css' %}">
<link type="text/css" href="{% static 'plugin/css/bootstrap-table.min.css' %}">
<link type="text/css" href="{% static 'plugin/css/bootstrap-treeview.min.css' %}">
<link type="text/css" href="{% static 'plugin/css/style.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/bootstrapStyle.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/bootstrap-switch.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/skins/all.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/skins/flat/red.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/skins/square/red.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/skins/flat/red.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/skins/minimal/red.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/loading.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugin/css/xterm.css' %}">
<script src="{% static 'plugin/js/html5shiv.min.js' %}"></script>
<script src="{% static 'plugin/js/respond.min.js' %}"></script>
<style>
    .select2-container--default .select2-selection--single {
        height:34px;
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 0px;
    }
    .select2-container--default .select2-selection--multiple {
        heigth:34px;
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 0px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background: #37cee6;
    }
</style>
<style>
    .hr-line-dashed {
        border-top: 1px dashed #e7eaec;
        color: #ffffff;
        background-color: #ffffff;
        height: 1px;
        margin: 20px 0;
    }
</style>
